*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family:f1 ;
    src: url(SFPRODISPLAYBOLD.OTF);
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   background-color:  rgb(250, 250, 252);
}
.subnav0{
    height: 35px;
    width: 990px;
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subnav0 .logo{
    height: 32px;
    padding-top: 8px;
    cursor: pointer;
}

.subnav0 .search{
    height: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.subnav0 .market{
    height: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.subnav0 h6{
    color: rgb(49, 48, 48);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    text-align:start;
    padding-top: 8px;
    cursor: pointer;
}

.subnav1{
    height: 150px;
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    height: 80px;
    width:80px;
}

.img1{
    background-image: url(./1.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.img2{
    background-image: url(./2.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.img3{
    background-size: 85px;
    background-image: url(./3.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /* background-size: cover; */
}

.img4{
    background-size: 65px;
    background-image: url(./4.png);
    background-position: center;
    cursor: pointer;
    /* background-size: cover; */
}

.img5{
    background-size: 70px;
    background-image: url(./5.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /* background-size: cover; */
}

.img6{
    background-size: 75px;
    background-image: url(./6.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 13px;
    cursor: pointer;
    /* background-size: cover; */
}

.img7{
    background-image: url(./7.png);
    background-position: center;
    background-size: 55px;
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
}

.img8{
    background-image: url(./8.png);
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
    margin-bottom: 9px;
    cursor: pointer;
}

.img9{
    background-image: url(./9.png);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    margin-top: 15px;
    cursor: pointer;
}

.img10{
    background-image: url(./10.png);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}



.subnav2{
    height: 40px;
    width: 100%;
    background-color: rgb(245, 245, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subnav2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
    color: rgb(48, 48, 48);
}

p a:hover{
    text-decoration: underline;
}

.body{
    height: 115%;
    width:100%;
}

.body .title{
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.title h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.title p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    padding-top: 40px;
}

.video{
    height: 600px;
    width: 100%;
    /* background-color:rgb(245, 245, 247) ; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.video .videocont{
    height: 600px;
    width: 100%;
    background-color: white;
    background-size: 1000px;
}

video{
    height: 600px;
    width: 100%;
    object-fit: fill;
    border-bottom: 1px solid white;
}

.features{
    height: 165%;
    width:100%;
}

.features .featuretitle{
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 90px;
    padding-bottom: 40px;
}

.featuretitle h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
    font-size: 50px;
    color: rgb(28, 28, 28);
}

.features .bar{
    height: 800px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar .scroll{
    height: 800px;
    width: 850%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block{
    height: 700px;
    width: 400px;
    margin: 5px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.block1{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./apple_intelligence.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.block1:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.block1title p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.block1title1 p{
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.block1title2 p{
    margin-top: 2px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.block2{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./camera.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.block2:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.block3{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./battery.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.block3:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.block4{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./innovation.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.block4:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.block5{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./environment.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.block5:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.block6{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./privacy.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.block6:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.block7{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./personalize.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.block7:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.block8{
    height: 700px;
    width: 380px;
    border-radius: 30px;
    background-color: rgb(131, 130, 130);
    background-image: url(./safety.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.block8:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.phonelist{
    height: 476%;
    width:100%;
    background-color: rgb(245, 245, 247);
}

.box0{
    height: 1650px;
    width:100%;
}



.phonetitle{
    height: 200px;
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.phonetitle h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    padding-left: 80px;
    padding-bottom: 60px;
    font-weight: 520;
}

.phonetitle p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 80px;
    padding-bottom: 60px;
}

a p:hover{
    text-decoration: underline;
}


.phoneimg{
    height: 1450px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.list{
    height: 650px;
    width: 150%;
    display: flex;
}
.div{
    height: 750px;
    width:400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.diva{
height: 650px;
width:100px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}

.imgdiv{
    height: 300px;
    width: 240px;
    background-image:url(./iphone_16pro.png);
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.imgdiv:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in;
}


.imgdiv1{
    height: 300px;
    width: 240px;
    background-image:url(./iphone_16.png);
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.imgdiv1:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}

.imgdiv2{
    height: 300px;
    width: 240px;
    background-image:url(./iphone_16e.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.imgdiv2:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}


.imgdiv3{
    height: 300px;
    width: 240px;
    background-image:url(./iphone_15.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.imgdiv3:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}

.colors{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colors .circle{
    height: 12px;
    width:12px;
    border-radius: 50%;
    margin: 3px;
}

.details1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 550;
}

.details2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.details3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 540;
}

.details4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 540;
}

.button0{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    height: 50px;
    width: 140px;
    font-size: 18px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgb(0, 113, 227);
}

.buy{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
}

.phonefeatures{
    height: 600px;
    width: 150%;
    display: flex;
}
.feature{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.diva1{
    height: 800px;
    width: 100px;
}

.div1{
    height: 800px;
    width: 400px;
    border-top:1px solid rgb(210, 210, 214);
}

.intelligence{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.intelligenceimg{
    height: 60px;
    width:60px;
    background-image: url(./intelligence.png);
    background-size: contain;
    background-repeat:no-repeat;
}


.a18pro{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.a18proimg{
    height: 60px;
    width:60px;
    background-image: url(./a18\ pro.png);
    background-size: contain;
    background-repeat:no-repeat;
    cursor: pointer;
}

.cameracontrol{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.cameracontolimg{
    height: 60px;
    width:60px;
    background-image: url(./camera\ control.png);
    background-size: contain;
    background-repeat:no-repeat;
}

.procamera{
    height: 210px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.procameraimg{
    height: 60px;
    width:60px;
    background-image: url(./procamera.png);
    background-size: contain;
    background-repeat:no-repeat;
}

.procameratitle{
    text-align: center;
}

.battery{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.batteryimg{
    height: 60px;
    width:60px;
    background-image: url(./batterysym.png);
    background-size: contain;
    background-repeat:no-repeat;
}

.div2{
    height: 800px;
    width: 400px;
    border-top:1px solid rgb(210, 210, 214);
}

.a18{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.a18img{
    height: 60px;
    width:60px;
    background-image: url(./a18.png);
    background-size: contain;
    background-repeat:no-repeat;
}

.dualcamera{
    height: 210px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.dualcameraimg{
    height: 60px;
    width:60px;
    background-image: url(./dualcamera.png);
    background-size: contain;
    background-repeat:no-repeat;
}

.div3{
    height: 800px;
    width: 400px;
    border-top:1px solid rgb(210, 210, 214);
}

.cameracontrol{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secamera{
    height: 210px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.secameraimg{
    height: 60px;
    width:60px;
    background-image: url(./se.png);
    background-size: contain;
    background-repeat:no-repeat;
}
.secameratitle{
    text-align: center;
}

.div4{
    height: 800px;
    width: 400px;
    border-top:1px solid rgb(210, 210, 214);
}

.intelligence{
    display: flex;
    align-items: center;
    justify-content: center;
}

.a16{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.a16img{
    height: 60px;
    width:60px;
    background-image: url(./a16.png);
    background-size: contain;
    background-repeat:no-repeat;
}

.box1{
    height: 850px;
    width: 100%;
}

.phonetitle1{
    height: 200px;
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 700;
    padding-left: 100px;
    padding-bottom: 40px;
}

.phoneimg1{
    height: 600px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoneimg1 .tourimg{
    height: 580px;
    width: 88%;
    border-radius: 30px;
    background-image: url(./guided_tour.jpg);
    background-size: cover;
    background-position: center;
    image-rendering: crisp-edges;
    cursor: pointer;
    transition: all 0.2s ease-out;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}

.phoneimg1 .tourimg:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}

.tourimg .tour{
    height: 500px;
    width:600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.tourbutton{
    height: 40px;
    width: 150px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size: 17.5px;
    border: 2px solid white;
    background-color: #f5f5f7;
    cursor: pointer;
}
.box2{
    height: 700px;
    width:100%;
}

.phonetitle2{
    height: 200px;
    width:100%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
} 
.title1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 100px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: rgb(29, 29, 31);
}

.shop {
    display: flex;
   padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 40px;
    color: #0066cc;
}

.bar1{
    height: 450px;
    width:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.bar1 .scroll1{
    height: 380px;
    width:178%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 80px;
}

.square1{
    height: 305px;
    width: 70px;
    border-radius: 30px;
}

.square{
    height: 305px;
    width:405px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    background-color: #ffffff;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.square:hover{
    transition: all 0.2s ease-in;
    transform: scale(1.01);
}

.smain1{
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 550;
}

.smain2{
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 550;
}

.square p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2f31;
}

/* .circle1{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: black;

} */

.simg{
    height: 40px;
    width: 40px;
    background-image: url(./icon_trade.png);
    background-size: cover;
    background-position: center;
}

.simg1{
    height: 40px;
    width: 40px;
    background-image: url(./icon_apple.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.simg2{
    height: 40px;
    width: 40px;
    background-image: url(./icon_delivery.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.simg3{
    height: 40px;
    width: 40px;
    background-image: url(./icon_specialist.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.simg4{
    height: 40px;
    width: 40px;
    background-image: url(./icon_person.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.simg5{
    height: 40px;
    width: 40px;
    background-image: url(./icon_asa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttom{
    height:250%;
    width: 100%;
}

.buttomtitle1{
    height: 200px;
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.buttomtitle1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 80px;
    letter-spacing: -0.5px;
}

.buttomimg0{
    height: 600px;
    width:100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.buttomimg01{
    height: 82vh;
    width: 626px;
    margin: 20px;
    border-radius: 30px;
    background-image: url(./magsafe.jpg);
    background-position: bottom;
    background-size: calc(126%);
    background-repeat:no-repeat;
    background-color: #f5f5f7;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.buttomimg02{
    height: 82vh;
    width: 626px;
    margin: 20px;
    border-radius: 30px;
    background-image: url(./airtag.jpg);
    background-position: bottom;
    background-size: calc(126%);
    background-repeat:no-repeat;
    background-color: #f5f5f7;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttomtitle2{
    height: 200px;
    width:100%;
}

.buttomtitle3{
    height: 700px;
    width:100%;
    display: flex;
    /* margin-left: 60px; */
    background-color: #f5f5f7;
    padding-left: 60px;
}

.column1{
    height: 700px;
    width:320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 160px;
    padding-left: 40px;
   /* border: 1px solid black; */
}

/* .buttomimg1{
    height: 700px;
    width:100%;
    border-bottom: 1px solid black;
}  */